
encodings/v06/env.p
encodings/v06/pipeline.ipynb
encodings/v06/test_envs/.DS_Store
encodings/v06/tmp/.DS_Store
encodings/v06/tmp/flatland_frame_0000.png
encodings/v06/tmp/flatland_frame_0001.png
encodings/v06/tmp/flatland_frame_0010.png
encodings/v06/tmp/flatland_frame_0011.png
encodings/v06/tmp/frames/.DS_Store
encodings/v06/tmp/frames/flatland_frame_0000.png
encodings/v06/tmp/frames/flatland_frame_0001.png
encodings/v06/tmp/frames/flatland_frame_0002.png
encodings/v06/tmp/frames/flatland_frame_0003.png
encodings/v06/tmp/frames/flatland_frame_0004.png
encodings/v06/tmp/frames/flatland_frame_0005.png
encodings/v06/tmp/frames/flatland_frame_0006.png
encodings/v06/tmp/frames/flatland_frame_0007.png
encodings/v06/tmp/frames/flatland_frame_0008.png
encodings/v06/tmp/frames/flatland_frame_0009.png
encodings/v06/tmp/frames/flatland_frame_0010.png
encodings/v06/tmp/frames/flatland_frame_0011.png
encodings/v06/tmp/frames/flatland_frame_0012.png
encodings/v06/tmp/frames/flatland_frame_0013.png
encodings/v06/tmp/frames/flatland_frame_0014.png
encodings/v06/tmp/frames/flatland_frame_0015.png
encodings/v06/tmp/frames/flatland_frame_0016.png
encodings/v06/tmp/frames/flatland_frame_0017.png
encodings/v06/tmp/frames/flatland_frame_0018.png
encodings/v06/tmp/frames/flatland_frame_0019.png
encodings/v06/tmp/frames/flatland_frame_0020.png
encodings/v06/tmp/frames/flatland_frame_0021.png
encodings/v06/tmp/frames/flatland_frame_0022.png
encodings/v06/tmp/frames/flatland_frame_0023.png
encodings/v06/tmp/frames/flatland_frame_0024.png
encodings/v06/tmp/frames/flatland_frame_0025.png
encodings/v06/tmp/frames/flatland_frame_0026.png
encodings/v06/tmp/frames/flatland_frame_0027.png
encodings/v06/tmp/frames/flatland_frame_0028.png
encodings/v06/tmp/frames/flatland_frame_0029.png
encodings/v06/tmp/frames/flatland_frame_0030.png
encodings/v06/tmp/frames/flatland_frame_0031.png
encodings/v06/tmp/frames/flatland_frame_0032.png
encodings/v06/tmp/frames/flatland_frame_0033.png
encodings/v06/tmp/frames/flatland_frame_0034.png
encodings/v06/tmp/frames/flatland_frame_0035.png
encodings/v06/tmp/frames/flatland_frame_0036.png
encodings/v06/tmp/frames/flatland_frame_0037.png
encodings/v06/tmp/frames/flatland_frame_0038.png
encodings/v06/tmp/frames/flatland_frame_0039.png
encodings/v06/tmp/frames/flatland_frame_0040.png
encodings/v06/tmp/frames/flatland_frame_0041.png
encodings/v06/tmp/frames/flatland_frame_0042.png
encodings/v06/tmp/frames/flatland_frame_0043.png
encodings/v06/tmp/frames/flatland_frame_0044.png
encodings/v06/tmp/frames/flatland_frame_0045.png
encodings/v06/tmp/frames/flatland_frame_0046.png
encodings/v06/tmp/frames/flatland_frame_0047.png
encodings/v06/tmp/frames/flatland_frame_0048.png
encodings/v06/tmp/frames/flatland_frame_0049.png
encodings/v06/tmp/frames/flatland_frame_0050.png
encodings/v06/tmp/frames/flatland_frame_0051.png
encodings/v06/tmp/frames/flatland_frame_0052.png
encodings/v06/tmp/frames/flatland_frame_0053.png
encodings/v06/tmp/frames/flatland_frame_0054.png
encodings/v06/tmp/frames/flatland_frame_0055.png
encodings/v06/tmp/successful/flatland_frame_0000.png
encodings/v06/tmp/successful/flatland_frame_0001.png
encodings/v06/tmp/successful/flatland_frame_0002.png
encodings/v06/tmp/successful/flatland_frame_0003.png
encodings/v06/tmp/successful/flatland_frame_0004.png
encodings/v06/tmp/successful/flatland_frame_0005.png
encodings/v06/tmp/successful/flatland_frame_0006.png
encodings/v06/tmp/successful/flatland_frame_0007.png
encodings/v06/tmp/successful/flatland_frame_0008.png
encodings/v06/tmp/successful/flatland_frame_0009.png
encodings/v06/tmp/successful/flatland_frame_0010.png
encodings/v06/tmp/successful/flatland_frame_0011.png
encodings/v06/tmp/successful/flatland_frame_0012.png
encodings/v06/tmp/successful/flatland_frame_0013.png
encodings/v06/tmp/successful/flatland_frame_0014.png
encodings/v06/tmp/successful/flatland_frame_0015.png
encodings/v06/tmp/successful/flatland_frame_0016.png
encodings/v06/tmp/successful/flatland_frame_0017.png
encodings/v06/tmp/successful/flatland_frame_0018.png
encodings/v06/tmp/successful/flatland_frame_0019.png
encodings/v06/tmp/successful/flatland_frame_0020.png
encodings/v06/tmp/successful/flatland_frame_0021.png
encodings/v06/tmp/successful/flatland_frame_0022.png
encodings/v06/tmp/successful/flatland_frame_0023.png
encodings/v06/tmp/successful/flatland_frame_0024.png
encodings/v06/tmp/successful/flatland_frame_0025.png
encodings/v06/tmp/successful/flatland_frame_0026.png
encodings/v06/tmp/successful/flatland_frame_0027.png
encodings/v06/tmp/successful/flatland_frame_0028.png
encodings/v06/tmp/successful/flatland_frame_0029.png
encodings/v06/tmp/successful/flatland_frame_0030.png
encodings/v06/tmp/successful/flatland_frame_0031.png
encodings/v06/tmp/successful/flatland_frame_0032.png
encodings/v06/tmp/successful/flatland_frame_0033.png
encodings/v06/tmp/successful/flatland_frame_0034.png
encodings/v06/tmp/successful/flatland_frame_0035.png
encodings/v06/tmp/successful/flatland_frame_0036.png
encodings/v06/tmp/successful/flatland_frame_0037.png
encodings/v06/tmp/successful/flatland_frame_0038.png
encodings/v06/tmp/successful/flatland_frame_0039.png
encodings/v06/tmp/successful/flatland_frame_0040.png
encodings/v06/tmp/successful/flatland_frame_0041.png
encodings/v06/tmp/successful/flatland_frame_0042.png
encodings/v06/tmp/successful/flatland_frame_0043.png
encodings/v06/tmp/successful/flatland_frame_0044.png
encodings/v06/tmp/successful/flatland_frame_0045.png
encodings/v06/tmp/successful/flatland_frame_0046.png
encodings/v06/tmp/successful/flatland_frame_0047.png
encodings/v06/tmp/successful/flatland_frame_0048.png
encodings/v06/tmp/successful/flatland_frame_0049.png
encodings/v06/tmp/successful/flatland_frame_0050.png
encodings/v06/tmp/successful/flatland_frame_0051.png
encodings/v06/tmp/successful/flatland_frame_0052.png
encodings/v06/tmp/successful/flatland_frame_0053.png
encodings/v06/tmp/successful/flatland_frame_0054.png
encodings/v06/tmp/successful/flatland_frame_0055.png
encodings/v06/Untitled1.ipynb
encodings/v07/.DS_Store
encodings/v07/actions.lp
encodings/v07/archive/encoding.lp
encodings/v07/archive/encoding2.lp
encodings/v07/archive/example_pipeline.py
encodings/v07/archive/test_env.drawio
encodings/v07/archive/test_env.lp
encodings/v07/archive/test_env.png
encodings/v07/archive/test_env2.lp
encodings/v07/class.lp
encodings/v07/dataflow.drawio
encodings/v07/dataflow.png
encodings/v07/dataflow.svg
encodings/v07/dataflow2.drawio
encodings/v07/encoding.lp
encodings/v07/envs/.DS_Store
encodings/v07/envs/env_0.lp
encodings/v07/envs/env_0.p
encodings/v07/envs/env_0.png
encodings/v07/execute.sh
encodings/v07/flatland.gif
encodings/v07/generator.py
encodings/v07/model.json
encodings/v07/Possible actions.md
encodings/v07/test.json
encodings/v07/test_env.lp
encodings/v07/tmp/.DS_Store
encodings/v06/pipeline.ipynb
encodings/v07/actions.lp
encodings/v07/class.lp
